.button {
  color: var(--General-White, #fff);
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 144%;
  letter-spacing: 0.2px;
  width: 360px;
  height: 50px;
  border-radius: 12px;
  &.button-active {
    background-color: #5fcb39;
  }
  &.button-disabled {
    background-color: rgba(95, 203, 57, 0.3);
    cursor: not-allowed;
  }
}
